.App {
  text-align: center;
}

h1{
  font-weight: normal;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  width: 110px;
  height: 50px;
}

.homepage_wrapper{
  border: 1px solid black;
  width: 90vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.homepage_timer_wrapper{
  background-color: #5ce1e6;
  width: 80%;
  font-weight: normal;
}

.homepage_button_wrapper{
  display: flex !important;
  width: 80% !important;
  justify-content: space-between !important;
  align-items: center !important;
}